
<form action="/users/<%=@user.id%>" method="POST">
<input type="hidden" name="_method" value="patch">
<label>Add Boardgames to Collection</label>
<br>
<% Boardgame.all.each do |bg| %>
   <input type="checkbox" name="user[boardgame_ids][]" id="<%=bg.id%>" value="<%=bg.id%>" <%='checked' if @user.boardgames.include?(bg) %>><%= bg.name %><br>
<%end%>
<input type="submit" value="Update collection">
</form>


