
<form action="/users/<%=@user.id%>" method="POST">
      <input type="hidden" name="_method" value="patch">
         <h1>Add Boardgames to Collection</h1>
         <strong><% Boardgame.alphabetize.each do |bg| %>
            <input type="checkbox" name="user[boardgame_ids][]" id="<%=bg.id%>" value="<%=bg.id%>" <%='checked' if @user.boardgames.include?(bg) %>><%= bg.name %><br>
         <%end%></strong>
      <br>
      <input type="submit" value="Update collection" style="font-size: 16px">
</form><br>
<div class=user-links>
<em>Don't see the game you're looking for? </em><br><br><a href='/boardgames/new'>Add a new boardgame</a>
</div>