<br>
<br>
<% @boardgames.each do |bg| %>
    <h3><%= bg.name %></h3>
    <img src="<%=bg.image%>" alt="<%=bg.name%>"><br>
    <a href="boardgames/<%=bg.id%>">View</a>
    <% if current_user && current_user.id == bg.creator_id %>
        <a href="/boardgames/<%=bg.id%>/edit">Edit</a>
    <%end%>
    </p>
<%end%>
