<div class="bg-name"><%=@boardgame.name%></div><br>
<strong>Year Published: </strong><%=@boardgame.year_published%><br>
<strong>Min Players: </strong><%=@boardgame.min_players%><br>
<strong>Max Players: </strong><%=@boardgame.max_players%><br>
<strong>Playing Time: </strong><%=@boardgame.playing_time%><br>
<br>

<img style="object-fit: contain; vertical-align:middle;margin:0px 10px;" src="<%=@boardgame.image%>" alt="<%=@boardgame.name%>" width="500" height="500">

